@media screen and (max-width: 500px) {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Hepta Slab';
    word-spacing: 4px;
  }
  
  ::-moz-selection {
    color: white;
    background: rgb(170, 0, 0);
  }
  
  ::selection {
    color: white;
    background: rgb(170, 0, 0);
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  .header {
    overflow: hidden;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin: 20px 16px 0px 16px;
    position: sticky;
  }
    
  .header a {
    color: rgb(0, 0, 0);
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    line-height: 25px;
    border-radius: 8px;
    transition: background-color .25s;
    margin: 0px 7px 0px 7px;
  }
    
  .header a.logo {
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
  }
  
  .header-right {
    float: right;
  }
  
  #infoA:hover, #mladiA:hover, #guatemalaA:hover, #motorkaA:hover, #smrtA:hover, #zajimavostiA:hover {
    background-color: rgb(170, 0, 0);
    color: white;
  }
  
  #infoA:active, #mladiA:active, #guatemalaA:active, #motorkaA:active, #smrtA:active, #zajimavostiA:active {
    background-color: rgba(170, 0, 0, 0.7);
  }
  
  #info {
    background-color: #e0e0e0;
    padding: 22px 30px 20px 30px;
    border-radius: 10px;
    margin: 10px 16px 0px 16px;
  }
  
  #textInfo {
    margin-top: -18px;
    vertical-align: top;
    display: inline-block;
    width: 100%;
  }
  
  #img1 {
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    border-radius: 12px;
  }
  
  #mladi {
    margin: 10px 16px 0px 16px;
    background-color: #e0e0e0;
    border-radius: 10px;
    display: inline-block
  }

  #textMladi {
    margin-top: -18px;
    vertical-align: top;
    display: inline-block;
    width: 100%;
  }

  #guatemala {
    background-color: #e0e0e0;
    padding: 22px 30px 20px 30px;
    border-radius: 10px;
    margin: 10px 16px 0px 16px;
  }
  
  #motorka {
    margin: 40px 30px 0px 30px;
    background-color: #e0e0e0;
    padding: 10px 30px 20px 30px;
    border-radius: 10px;
    display: inline-block
  }
  
  #smrt {
    margin: 40px 30px 0px 30px;
    background-color: #e0e0e0;
    padding: 10px 30px 20px 30px;
    border-radius: 10px;
    display: inline-block
  }
  
  #zajimavosti {
    margin: 40px 30px 0px 30px;
    background-color: #e0e0e0;
    padding: 10px 0px 20px 30px;
    border-radius: 10px;
    display: inline-block
  }
  
  #textZajimavosti {
    width: 60%;
    display: inline-block;
    vertical-align: top;
  }
  
  #img2 {
    margin-left: 6%;
    margin-right: 2%;
    margin-top: 1.5%;
    width: 30%;
    border-radius: 12px;
  }
  
  #textInfo a {
    color: black;
  }
  
  #footer {
    margin: 40px 30px 0px 30px;
    background-color: #e0e0e0;
    padding: 20px 0px 20px 0px;
    border-radius: 10px;
    display: inline-block;
    width: 95%;
  }
  
  #textFooter {
    text-align: center;
  }
  
  button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999;
    border: none;
    outline: none;
    background-color: rgb(170, 0, 0);
    color: white;
    cursor: pointer;
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px;
    transition: background-color .5s;
    box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.7);
  }
  
  button:hover {
    background-color: rgb(0, 0, 0);
  }
}